
.main_div_F{
  width: 100%;
  text-align: center;
  margin-top: 5%; 
  color: white;
  background-color:rgba(15, 15, 17, 0.945);
  clear: both;
  padding-top: 3% ;
  box-sizing: border-box;
}

.main_div_F p{
  font-family: sans-serif;
  color: gray;
}

.main_div_F h6{
  padding-top: 1%;
  color: gray;
  margin: 0 auto;
  font-family: sans-serif;
}
.main_div_F h3{
  font-family: sans-serif;
  word-spacing: 10px;
}

.sossial_icon{
  background:black;
  color: gray;
}
.btn_icon{
  background:#100f2c;
  color: white;
}
.SOSIAL{
  width: 20%;
  box-sizing: border-box;
  vertical-align: top;
  display: inline-block;
  box-sizing: border-box;
  position: relative;
}
.SOSIAL_border:before{
  content: "";
  height: 80%;
  margin: auto;
  position: absolute;
  top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px; 
  border-left: 2px solid white;
  border-right: 2px solid white;
}
 
.main_div_F_btn{
  position: fixed;
  right: 30px;
  bottom: 120px;
  left: unset;
  cursor: pointer;
  transition: all 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_div_F_btn2{
  position: fixed;
  right: 30px;
  bottom: 76px;
  left: unset;
  cursor: pointer;
  transition: all 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
